In [8]:
import os
import pandas as pd
from fred import Fred

# Get data

In [6]:
# fr = Fred(api_key='abcdefghijklmnopqrstuvwxyz123456',response_type='dict')

### Gross Output by Industry

In [11]:
data_dir = os.path.join(os.getcwd(), "data/covideco_Quarterly.txt")

In [12]:
go_by_industry = pd.read_csv(data_dir,sep="\t")

**Notes:**
- Data Source: Gross Output by Industry: Gross Output by Industry, Billions of Dollars, Seasonally Adjusted at Annual Rates
https://fred.stlouisfed.org/release/tables?rid=331&eid=1993#

# Initial Analysis

In [13]:
go_by_industry.shape

(59, 33)

In [17]:
go_by_industry.DATE.max()

'2019-07-01'

In [18]:
go_by_industry.DATE.min()

'2005-01-01'

In [19]:
go_by_industry.columns

Index(['DATE', 'GOAER', 'GOAERAF', 'GOAF', 'GOAFH', 'GOAI', 'GOAWMS', 'GOC',
       'GOES', 'GOESHS', 'GOF', 'GOFI', 'GOFIRL', 'GOG', 'GOGPI', 'GOHCSA',
       'GOI', 'GOM', 'GOMA', 'GOMCE', 'GOMD', 'GOMN', 'GOOSEG', 'GOPBS',
       'GOPI', 'GOPST', 'GOR', 'GORL', 'GOSL', 'GOSPI', 'GOT', 'GOU', 'GOW'],
      dtype='object')

In [25]:
go_by_industry.head()

,DATE,GOAER,GOAERAF,GOAF,GOAFH,GOAI,GOAWMS,GOC,GOES,GOESHS,...,GOPBS,GOPI,GOPST,GOR,GORL,GOSL,GOSPI,GOT,GOU,GOW
0,2005-01-01,195200,830300,635099,297482,22835859,559735,1238713,191383,1544232,...,2214244,20263503,1310749,1218101,2414652,1731382,13713477,724612,381224,1087905
1,2005-04-01,199654,850167,650513,298167,23225964,576804,1269902,193184,1564898,...,2261537,20629694,1335294,1233556,2479923,1753076,13956891,744427,393619,1091728
2,2005-07-01,203031,861411,658379,299068,23733860,583213,1302808,196086,1593299,...,2294539,21091301,1350535,1248641,2534816,1782789,14260921,762510,433039,1106462
3,2005-10-01,210163,878097,667933,299297,24256100,601280,1337151,199854,1614902,...,2354618,21574195,1388096,1258552,2562990,1814950,14490669,778906,456852,1144844
4,2006-01-01,216256,899096,682840,295945,24604791,615663,1371165,205626,1639224,...,2394078,21868521,1406098,1294025,2586824,1836871,14731273,804842,428646,1169017

**Notes:**

- `GOAER`: Gross Output of Private Industries: Arts, Entertainment, Recreation, Accommodation, and Food Services: Arts, Entertainment, and Recreation
- `GOAERAF`: Gross Output of Private Industries: Arts, Entertainment, Recreation, Accommodation, and Food Services 
- `GOAF`:
- `GOAFH`, 
- `GOAI`, 
- `GOAWMS`
- `GOC`,'GOES', 'GOESHS', 'GOF', 'GOFI', 'GOFIRL', 'GOG', 'GOGPI', 'GOHCSA',
       'GOI', 'GOM', 'GOMA', 'GOMCE', 'GOMD', 'GOMN', 'GOOSEG', 'GOPBS',
       'GOPI', 'GOPST', 'GOR', 'GORL', 'GOSL', 'GOSPI', 'GOT', 'GOU', 'GOW'