In [1]:
import requests
import pandas as pd
import PyPDF2

In [6]:
dls = "https://www.labor.ny.gov/stats/2019-2021-Statewide-Short-Term-Industry-Projections.xlsx"
resp = requests.get(dls)

output = open("2019-2021-Statewide-Short-Term-Industry-Projections.xlsx", "wb")
output.write(resp.content)
output.close()

In [7]:
df = pd.read_excel("2019-2021-Statewide-Short-Term-Industry-Projections.xlsx")

In [9]:
df.iloc[:5, :5]

,Unnamed: 0,New York State Department of Labor,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,"Short-Term Industry Employment Projections, 20...",NaN,NaN,NaN
1,NaN,New York State,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NAICS\nCode,Industry Title,Employment,NaN
4,NaN,NaN,NaN,2019,2021

In [12]:
dls = "https://nj.gov/labor/lpa/employ/indoccpj/2016-2026%20Industry%20Employment%20Projections%20Reports.xlsx"
resp = requests.get(dls)

output = open("2016-2026 Industry Employment Projections Reports.xlsx", "wb")
output.write(resp.content)
output.close()

In [13]:
df = pd.read_excel("2016-2026 Industry Employment Projections Reports.xlsx")

In [14]:
df.iloc[:5, :5]

,Estimated and Projected Employment by Industry Sector,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,New Jersey: 2016-2026,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,Actual,Projected,2016-2026 Change,NaN
3,Industry Title,2016,2026,Number,Annual Percent
4,Total Nonfarm,4073600,4402180,328580,0.778744

In [15]:
dls = "https://www.labormarketinfo.edd.ca.gov/file/indproj/CA$IndProj2019-2021.xlsx"
resp = requests.get(dls)

output = open("CA$IndProj2019-2021.xlsx", "wb")
output.write(resp.content)
output.close()

In [16]:
df = pd.read_excel("CA$IndProj2019-2021.xlsx")

In [17]:
df.iloc[:5, :5]

,Unnamed: 0,Employment Development Department,Unnamed: 2,California,Unnamed: 4
0,NaN,Labor Market Information Division,NaN,Industry Employment Projections,NaN
1,NaN,Published: March 2020,NaN,2019 Second Quarter - 2021 Second Quarter,NaN
2,NaN,NAICS Code*,Industry Title,Quarterly Average Estimated Employment** 2019,Quarterly Average Projected Employment 2021
3,1.0,NaN,Total Employment,19161700,19712400
4,6010.0,NaN,Self Employment (A),1201700,1235300

In [2]:
dls = "https://www.bea.gov/system/files/2020-01/qgdpstate0120_2.pdf"
resp = requests.get(dls)

output = open("qgdpstate0120_2.pdf", "wb")
output.write(resp.content)
output.close()

In [3]:
# creating an object 
file = open('qgdpstate0120_2.pdf', 'rb')

# creating a pdf reader object
fileReader = PyPDF2.PdfFileReader(file)

# print the number of pages in pdf file
print(fileReader.numPages)

7